* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.MainWindow {
  height: 10000px !important;
  width: initial;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.MainWindow.iPhone {
  -webkit-user-drag: none;
}

.MainWindow.iPhone body {
  width: 100% !important;
  min-height: 100% !important;
  max-height: 100% !important;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: scroll;
  touch-action: pan-y;
}

.fullscreen-root-hidden {
  display: none;
  overflow: hidden;
}

.fullscreen-root-visible {
  width: 100%;
  height: 10000px;
  touch-action: pany-y;
  position: absolute;
  z-index: 10;
  top: -1000px;
  bottom: -1000px;
  left: 0;
  right: 0;
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*slide up animation */

.show {
  display: block;
}

.hide {
  display: none;
}

#slide-container {
  opacity: 0.6;
  background-color: black;
  position: fixed;
  z-index: 9;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

#slide-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10000px;
  z-index: 9;
  top: 0%;
  padding: 0;
}

.slide-up {
  animation-name: anim-slide-up;
  animation-duration: 2s;
  animation-direction: normal;
  animation-iteration-count: 2;
}

@keyframes anim-slide-up {
  0% {
    margin-top: 100vw;
  }
  100% {
    margin-top: 0vw;
  }
}